{{ define "main" }}
{{ $logos        := site.Data.logos }}
{{ $ecosystem    := $logos.ecosystem }}
{{ $partners     := $logos.partners }}
{{ $features     := site.Params.features }}
{{ $capabilities := site.Params.capabilities }}
<div class="" id="intro">
  <div class="row row-full">
    <div class="small-12 large-offset-1 large-10 end columns  intro-wrap">
      <h2>
        A standard interface for service meshes on Kubernetes.
      </h2>

      <img src="./img/logos/smi-background-logo.png" title="SMI logo" class="smi-logo" />

      <div class="panel">
        <div class="row panel-wrapper">
          <div class="small-12 columns">
            <h3>Service Mesh Interface provides:</h3>

            <ul>
              {{ range $features }}
              <li>
                {{ . }}
              </li>
              {{ end }}
            </ul>

            <a class="button primary" href="https://github.com/servicemeshinterface/smi-spec">View the Spec</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="row row-full" id="features">
  <div class="small-12 large-10 large-centered columns">

    <div class="row">
      <div class="small-12 large-2 columns">&nbsp;</div>
      <div class="small-12 large-7 columns end">
        <div class="panel">
          <h3>What SMI covers</h3>

          <p>Service Mesh Interface is a specification that covers the most common service mesh capabilities:</p>
          <ul>
            {{ range $capabilities }}
            <li>
              {{ . }}
            </li>
            {{ end }}
          </ul>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="small-12 large-3 columns">&nbsp;</div>
      <div class="small-12 large-7 columns end">
        <div class="panel">
          <h3>Kubernetes Native</h3>
          <p>The SMI is specified as a collection of Kubernetes Custom Resource Definitions (CRD) and Extension API Servers. These APIs can be installed onto any Kubernetes cluster and manipulated using standard tools.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 large-4 columns">&nbsp;</div>
      <div class="small-12 large-7 columns end">
        <div class="panel">
          <h3>Provider Agnostic</h3>
          <p>The goal of the SMI API is to provide a common, portable set of service mesh APIs which a Kubernetes user can use in a provider agnostic manner. In this way people can define applications that use service mesh technology without tightly binding to any specific implementation.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row row-full" id="credits">
  <div class="small-12 large-centered columns">
    <h3 class="text-center sep sep-sides sep-sides-hr" id="ecosystem">Ecosystem</h3>

    <div class="text-center">
      {{ range $ecosystem }}
      <a href="{{ .url }}" target="_blank"{{ if not .logo }} style="padding-right: 1em;"{{ end }}>
        {{ if .logo }}
        {{ $src := printf "img/logos/%s" .logo | relURL }}
        <img src="{{ $src }}" title="{{ .title }}" alt="{{ .title }} logo" />
        {{ else }}
        {{ .title }}
        {{ end }}
      </a>
      {{ end }}
    </div>

    <br />
  </div>

  <div class="small-12 large-10 large-centered columns">
    <h3 class="text-center sep sep-sides">In partnership with</h3>

    <div class="text-center">
      {{ range $partners }}
      {{ $src := printf "img/logos/%s" .logo | relURL }}
      <a href="{{ .url }}" target="_blank" title="{{ .title }}">
        <img src="{{ $src }}" alt="{{ .title }} logo" />
      </a>
      {{ end }}
    </div>
    <br>
    <div class="sep"></div>
  </div>
</div>

<div class="row row-full" id="communications">
  <div class="small-12 large-10 large-centered columns">
    <h3 class="text-center">Communications:</h3>
      <div class="small-12 large-10 large-centered columns">
        <div class="panel">
          <!-- <h4>Slack Channel</h4> -->
          <div class="panel-wrapper small-12 large-10">
            <p>Sign up for the <a href="https://slack.cncf.io/"><strong>CNCF Slack</strong></a> for related discussion.</p>

            <a href="https://cloud-native.slack.com/messages/smi" class="button primary">CNCF Slack, #smi</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
