{{ $inServerMode := site.IsServer }}
{{ $includePaths := slice "node_modules" }}
{{ $scss         := "scss/styles.scss" }}
{{ $cssOutput    := "css/style.css" }}
{{ $devOpts      := (dict "targetPath" $cssOutput "includePaths" $includePaths "enableSourceMap" true) }}
{{ $prodOpts     := (dict "targetPath" $cssOutput "includePaths" $includePaths "outputStyle" "compressed") }}
{{ $cssOpts      := cond $inServerMode $devOpts $prodOpts }}
{{ $css          := resources.Get $scss | resources.ExecuteAsTemplate $scss . | toCSS $cssOpts }}
{{ if $inServerMode }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{ else }}
{{ $prodCss      := $css | fingerprint }}
<link rel="stylesheet" href="{{ $prodCss.RelPermalink }}" integrity="{{ $prodCss.Data.Integrity }}">
{{ end }}

{{/* Fonts */}}
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Ubuntu:400,500&display=swap" rel="stylesheet">