{{ $home      := site.BaseURL }}
{{ $logo      := "img/logos/logo-name.png" | relURL }}
{{ $logoShort := "img/logos/logo-name-short.svg" | relURL }}
<header class="header row row-full">
  <div class="show-for-large-up large-1 columns"></div>
  <div class="small-6 large-5 columns">
    <h1>
      <a href="{{ $home }}">
        <span class="long">
          <img src="{{ $logo }}" title="Service Mesh Interface" />
        </span>
        <span class="short">
          <img src="{{ $logoShort }}" title="SMI" />
        </span>
      </a>
    </h1>
  </div>

  {{/* desktop menu */}}
  <nav class="large-5 columns end">
    <ul class="inline-list right show-for-large-up menu-desktop">
      {{ partial "nav.html" . }}
    </ul>
  </nav>
  <div class="show-for-large-up large-1 columns"></div>

  {{/* mobile menu */}}
  <button class="menu-toggle hide-for-large-up columns" type="button"></button>
  <nav class="menu">
    <ul>
      {{ partial "nav.html" . }}
    </ul>
  </nav>
</header>